.blue-text-box {
    color: #242424;
    background-color: #AEC0BF;
    border-radius: 3px;
    padding: 20px;
    height: auto;
}
.blue-text-box a {
    color: #00473E;
}
.blue-text-box code {
    background-color: #4C4C69;
    color: white;
}
.info-box {
    color: #242424;
    background-color: #AEC0AE;
    border-radius: 3px;
    padding: 20px;
}
.info-box a{
    color: #00473E;
}
.info-icon {
    text-align: center;
    width: 10%;
    float: left;
}
.icon-div {
    display: table-call;
    vertical-align: middle;
}
.icon {
    content: url("{{ site.url }}{{ site.baseurl }}/assets/images/spring_doc/info-icon.png");
    width: 50%;
    height: 50%;
}
.info-content {
    width: 90%;
    float: right;
}


.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    // position: absolute;
    top: 0;
    right: 0;
    width: responsive;
    // margin-right: -1 * $right-sidebar-width-narrow;
    // padding-left: 1em;
    // z-index: 10;

    &.sticky {
      @include clearfix();
      position: -webkit-sticky;
      position: sticky;
      top: 2em;
      float: right;
    }
  }

  @include breakpoint($x-large) {
    width: responsive;
    margin-right: -1 * $right-sidebar-width;
  }
}